@model GeniesShop.Models.User
@{
    ViewBag.Title = "Summary";
}

<h2>Summary</h2>
<br />


Welcome, @Model.FirstName @Model.LastName!.
<br />
You're number is @Model.PhoneNumber, email is @Model.Email .
<br />
You're from @Model.City,@Model.State .
<br />
You decided to register because why lol @Model.Choice (^_^).